/template/.vs/
/template/x64/Debug/*.obj
/template/x64/Release/*.obj

*.tlog
*.exe
*.lib
*.log
*.pdb
*.ilk

/library/x64

/angelscript/projects/msvc2015/Debug
/angelscript/projects/msvc2015/Release
/angelscript/projects/msvc2015/x64